@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <b> USA: </b>
    5Y Solutions, Inc.    
</address>

<address>
    <strong>Support:</strong> <a href="mailto:contact@5yinc.com">contact@5yinc.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:contact@5yinc.com">contact@5yinc.com</a>
</address>
