@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <b> USA: </b>
    5Y Solutions, Inc.
    2000 Mallory Ln,

    Suite 130-565 Franklin,

    TN 37067

    Telephone +1 484 801 0150

    E-mail: contact@5yinc.com

    <b> India:</b>
    5Y Business Solutions, Inc.
    The Platina, A 604

    Plot no 56 & 57,

    Gachibowli,

    Hyderabad - 500032

    Telephone +91-40 2988 1934

    E-mail: contact@5yinc.com

    <b>Australia:</b>
    5Y Solutions, Inc.
    Telephone +61 405 227 944

    E-mail: contact@5yinc.com
</address>

<address>
    <strong>Support:</strong> <a href="mailto:contact@5yinc.com">contact@5yinc.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:contact@5yinc.com">contact@5yinc.com</a>
</address>
